
.ipynb_checkpoints/Combinations-checkpoint.py
.ipynb_checkpoints/Dictionary-checkpoint.py
.ipynb_checkpoints/Visualization-checkpoint.py
.ipynb_checkpoints/VisualNotebook-checkpoint.ipynb
.ipynb_checkpoints/win_rate-checkpoint.csv
__pycache__/Combinations.cpython-37.pyc
__pycache__/Dice.cpython-37.pyc
__pycache__/Play.cpython-37.pyc
__pycache__/Sim.cpython-37.pyc
__pycache__/Trials.cpython-37.pyc
__pycache__/Weight.cpython-37.pyc
